#unity-logo {
    display: none
}

#unity-loading-bar {
    height: 100%;
    background-image: url("loading_bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 100%
}

#unity-progress-bar-empty {
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    width: 70%;
    margin: 0;
    height: 28px;
    background: none;
    -webkit-border-radius: 47px;
    -moz-border-radius: 47px;
    border-radius: 47px;
    background-color: hsla(0, 0%, 100%, .84);
    -webkit-box-shadow: 0px 4px 6px 0px #fff inset, 0px 4px 13.8px 0px rgba(0, 0, 0, .2509803922);
    -moz-box-shadow: 0px 4px 6px 0px #fff inset, 0px 4px 13.8px 0px rgba(0, 0, 0, .2509803922);
    box-shadow: 0px 4px 6px 0px #fff inset, 0px 4px 13.8px 0px rgba(0, 0, 0, .2509803922)
}

#unity-progress-bar-full {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    color: #fff;
    background: none;
    background-color: #0f1dad;
    -webkit-border-radius: 47px;
    -moz-border-radius: 47px;
    border-radius: 47px;
    text-shadow: 1px 2px 1px #1d289c, #1d289c 1px 0px 0px, #1d289c .540302px .841471px 0px, #1d289c -0.416147px .909297px 0px, #1d289c -0.989992px .14112px 0px, #1d289c -0.653644px -0.756802px 0px, #1d289c .283662px -0.958924px 0px, #1d289c .96017px -0.279415px 0px
}

#unity-progress-bar-full span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

/* Universal banner container for all ad networks (AdsGram, Monetag, future networks) */
#ad-banner-container {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
}

/* Legacy support for existing ad networks */
#adsgram-container,
#monetag-banner-container {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
}
